* {
	margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  background-color: #f0f0f0;
}

li{
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover{
  color: green;
}

header{
  position:relative;
  padding: 1rem 2rem;
  background-color: #333;

}

.navbar {
	width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a{
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
	margin: 0;
	display: flex;
}

.navbar ul li {
	margin-left: 20px;
}

.navbar ul li:first-child {
  margin-left:0;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

@media (max-width: 992px){
  .navbar .links {
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }
}

.dropdown_menu{
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
  height:240px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu {
  display: block;
}

@media (max-width: 576px){
  .dropdown_menu{
    left: 2rem;
    width: unset;
  }
}

section {
  width: 80%;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  text-align: center;
}

section article {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  width: 100%;
}

